@import "../../_globalColor";

.software-skill-category {
  margin-bottom: 10px;
}

.category-title {
  font-size: 25px; /* ExperienceCard와 동일한 크기 */
  font-weight: 700; /* ExperienceCard와 동일한 두께 */
  text-align: center; /* ExperienceCard와 동일한 중앙 정렬 */
  margin-bottom: 10px;
  color: $textColor;
}

.software-skills-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.software-skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1;
  margin-right: 10px;
}

.skill-image {
  width: 30px;
  height: 30px;
  margin-bottom: 2px;
  object-fit: contain;
}

.software-skill-icon p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}
